.bottom-panel {
  width: 100%;
  min-width: 300px;
  padding: 5px 0;
  background: #fff;
  display: flex;
  align-items: center;
  z-index: 10;

  .cc-logo-large, .cc-logo-small {
    margin-left: 10px;
    height: 46px;
  }
  @media (min-width: 780px) {
    .cc-logo-small {
      display: none;
    }
  }
  @media (max-width: 780px) {
    .cc-logo-large {
      display: none;
    }
  }
  @media (max-width: 670px) {
    .middle-widgets button {
      .label {
        display: none;
      }
      min-width: 55px;
    }
  }
  @media (max-width: 430px) {
    .middle-widgets button {
      min-width: 35px;
      width: 35px;
    }
  }
  @media (max-width: 1200px) {
    .time-slider {
      display: none;
    }
  }
  @media (max-width: 900px) {
    .show-list {
      display: none;
    }
  }

  .menu-button {
    margin-right: 10px;
  }

  .inline-widget {
    margin: 5px;
    display: inline-block;
    vertical-align: middle;

    .material-icons {
      font-size: 120%;
      margin-right: 6px;
    }
  }

  .middle-widgets {
    margin: 0 auto;
  }

  .time-slider {
    margin: 0 auto;
    width: 300px;
  }

  .show-list {
    margin: 0 auto;
  }

  .fullscreen-icon {
    font-size: 45px;
    margin-right: 15px;
    margin-top: -0.1em;
    height: 1em;
    width: 1em;
    background-size: 1em;
    cursor: pointer;
    background-image: url("icons/fullscreen.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 0;
    color: transparent;
    &:hover {
      background-image: url("icons/fullscreen-dark.svg");
    }

    &.fullscreen{
      background-image: url("icons/fullscreen-exit.svg");
      &:hover {
        background-image: url("icons/fullscreen-exit-dark.svg");
      }
    }
  }
}

// checkbox theme
.field {
  margin-top: 100px;
}