.bottom-panel {
  padding: 0 10px;
  display: flex;
  align-items: center;

  .cc-logo {
    width: 150px;
  }

  .inline-widget {
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
  }

  .cross-section-widgets {
    margin: 0 auto;
  }

  .sidebar {
    min-width: 300px;
  }
}