.cross-section {
  padding: 10px;

  .plates {
    position: relative;
  }

  .plate {
    position: absolute;
    top: 0;
    left: 0;
  }

  .cross-section-segment {
    position: absolute;
    top: 0;
  }
}
