.cross-section {
  text-align: center;
  overflow: hidden;

  .close-button {
    color: white !important;
    position: absolute;
    top: 0;
    left: 0;
  }

  .container {
    margin: 0 auto;
  }

  .slide-enter {
    transform: translate3d(0, 400px, 0);
  }

  .slide-enter.slide-enter-active {
    transform: translate3d(0, 0, 0);
    transition: transform 400ms ease-out;
  }

  .slide-leave {
    transform: translate3d(0, 0, 0);
  }

  .slide-leave.slide-leave-active {
    transform: translate3d(0, 400px, 0);
    transition: transform 400ms ease-in;
  }

  .key {
    z-index: 10;
    color: white;
    text-align: left;
    position: absolute;
    right: 5px;
    background: #000;

    .rect {
      width: 25px;
      height: 20px;
      margin-right: 5px;
    }
  }
}
