.cross-section {
  padding: 10px;
  background: black;

  .container {
    position: relative;
    margin: 0 auto;
  }

  .sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #4375be;
    background: linear-gradient(0, #c0daeb, #4375be);
  }

  .ocean {
    position: absolute;
    left: 0;
    width: 100%;
    background: #1da2d8;
  }

  .cross-section-canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}
