.plates {
  height: 100%;
  min-width: 300px;
  background: #000;

  .plates-3d-view {
    position: relative;
  }

  .plates-3d-view {
    &.full {
      // ~"..." is a way to escape Less processing. Otherwise, Less compiles it to calc(40%)...
      // 60px for bottom panel.
      height: calc(~"100% - 60px");
    }
    &.small {
      height: calc(~"100% - 270px");
    }
  }

  .time-display {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 38px;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 7px #000;

    span {
      font-family: Verdana, monospace;
    }
  }

  .bottom-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .benchmark {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #eee;
  }

  .model-loading {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #eee;
    font-size: 20px;
    text-shadow: 1px 1px 2px #484848;
  }

  .camera-reset {
    color: white !important;
    position: absolute;
    top: 0;
    left: 0;
  }
}
