.wide-dropdown {
  width: 250px;
}

.list-slider {
  width: 300px;

  label {
    color: rgba(0, 0, 0, 0.26);
    font-size: 12px;
  }
}

.big-spinner {
  width: 100px;
  height: 100px;
}

.large-button {
  text-shadow: 2px 2px 5px #000;
  height: auto;

  .material-icons {
    font-size: 35px;
  }
}

.small-button {
  font-size: 10px;
  text-shadow: 2px 2px 5px #000;
  height: auto;

  .label {
    line-height: 10px;
  }

  .material-icons {
    font-size: 30px;
  }
}

