.density-button-container {
  cursor: pointer;
  border: 1px solid black;
  pointer-events: auto;

  .shading-box {
    background-color: transparent;
  }

  .shading-box:hover {
    background-color: rgba(0, 0, 0, .4);
  }
}

.densities {
  text-align: center;

  ul {
    list-style-type: none;
  }
}

.density-button-container .density-button {
  pointer-events: none;
  color: #fff;
  text-shadow: 2px 2px 4px #2b2b2b;
  font-size: 25px;

  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}