.density-button-container {
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  pointer-events: all;

  &:hover {
    background-color: rgba(33, 33, 33, 0.2);
  }

  .density-button {
    pointer-events: none;
    font-size: inherit;
    text-shadow: inherit;
    color: inherit !important;

    width: 100%;
    height: 100px;
    vertical-align: middle;
    display: block;
  }
}

.densities ul {
  list-style-type: none;
}