.elevationLabels {
  position: relative;
  width: 72px;
  display: flex;
  flex-direction: column;
  margin-left: -20px;

  .elevationLabel {
    position: absolute;
    width: 100%;
    text-align: right;
  }
}
