@import "@concord-consortium/question-interactives-helpers/src/styles/helpers";

.tecRockTable {
  legend.prompt {     // clear bootstrap stuff
    display: unset;
    width: unset;
    margin-bottom: unset;
    font-size: unset;
    border: unset;
    padding-bottom: 5px;

    img {
      height: auto;
      max-width: 100%;
    }
  }

  .tableAndSnapshots {
    display: flex;
    flex-direction: row;

    .table {
      overflow-x: auto;
      margin-right: 10px;
      vertical-align: top;

      table {
        border-collapse: collapse;
        table-layout: auto;

        td, th {
          border: 0.5px solid #979797;
          padding: 4px;
          text-align: center;

          &:first-child {
            width: 90px;
          }
          &:last-child {
            font-weight: bold;
          }

          &.temperatureAndPressure {
            max-width: 100px;
          }
          &.type {
            max-width: 200px;
          }
        }
      }
    }

    .snapshots {
      max-width: 30%;
      img {
        width: 100%;
      }
    }
  }

  &.report {
    overflow-x: auto;
    .tableAndSnapshots {
      min-width: 1040px;
    }
  }
}
