.tableAndSnapshots {
  display: flex;
  flex-direction: row;
  margin-top: 10px;

  .table {
    overflow-x: auto;
    margin-right: 10px;
    vertical-align: top;

    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: auto;
      transform-origin: top left;

      td, th {
        border: 0.5px solid #979797;
        padding: 4px;
        text-align: center;

        &.temperatureAndPressure {
          max-width: 100px;
        }
        &.type {
          max-width: 200px;
        }
      }

      td.notes {
        min-width: 200px;
        text-align: left;
      }
    }

    .checkData {
      margin-top: 30px;

      .buttonContainer {
        text-align: center;

        button {
          padding: 5px 20px;
          border-radius: 4px;
          border: solid 1.5px #979797;
          color: #3f3f3f;
          background-color: #ffa350;
          font-weight: bold;
          font-size: 20px;

          &:hover {
            background-color: #ff8415;
          }
          &:active {
            border: solid 1.5px #fff;
            background-color: #ff8415;
          }

          &:disabled {
            opacity: 0.35;
          }
        }
      }

      .checkDataResults {
        display: flex;
        gap: 10px;
        margin-top: 20px;

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }

  .snapshots {
    // This will result in flex-grow: 1 and ensure that the snapshots will be as wide as possible.
    flex: 1;
    min-width: 30%;
    // Limit max size when snapshots are displayed in the report and user is using a big screen. In this case,
    // image could become much bigger than its native size.
    max-width: 1000px;

    .imgContainer {
      position: relative;
      width: 100%;
      margin-bottom: 5px;
      cursor: pointer;

      img {
        width: 100%;
      }

      svg {
        display: block;
        position: absolute;
        bottom: 3px;
        right: 3px;
        height: 30px;
        pointer-events: none;
      }
    }
  }
}
