@import "../../css/variables.scss";

.rockKey {
  position: relative;
  color: #434343;
  width: 300px;
  font-family: Lato;
  font-size: 14px;

  &.showDivider {
    padding-top: 10px;
  }

  .keyDivider {
    position: absolute;
    top: 0;
    width: 300px;
    height: 1px;
    background: #797979;
  }

  .title {
    font-weight: bold;
    text-align: center;
    margin: 5px 0 5px 0;
  }

  .container {
    border-width: 2px;
    border-style: solid;
    border-radius: 0 0 10px 10px;
    margin-bottom: 5px;

    .header {
      height: 20px;
      color: #fff;
      display: flex;
      align-items: center;
      .headerLabel {
        margin-top: -4px;
        text-align: left;
        text-indent: 4px;
      }
    }
    .content {
      margin: 2px 0 0 0;

      .column {
        width: 144px;
        display: inline-grid;
        text-align: left;
        padding: 4px 2px 4px 0;

        .rock {
          display: flex;
          flex-direction: row;
          align-items: center;

          &.selectable {
            cursor: pointer;
          }

          .flashContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
          }

          .patternContainer {
            height: 26px;
            width: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            margin-left: -8px;
            margin-right: 6px;
            &.selected {
              border: 2px solid;
            }

            img {
              width: 20px;
              height: 20px;
              vertical-align: center;
            }
          }

          .rockPickerTool {
            width: 18px;
            height: 16px;
            border: 2px solid;
            border-radius: 50%;
            position: relative;
            z-index: 1;
            visibility: hidden;
            &.selected {
              visibility: visible;
            }
            svg {
              position: absolute;
              top: 1.5px;
              left: 1.5px;
            }
          }

        }
      }
      .expanded {
        padding: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        border-radius: 0 0 8px 8px;
        .separator {
          margin-top: -1px;
          border: 1px solid;
          width: 259px;
        }
        .selectedRockTitle {
          margin: 6px 15px;
          font-weight: bold;
          text-align: center;
        }
        .selectedRockDiagram {
          padding: 5px 0;
          text-align: center;
        }
        .selectedRockNotes {
          width: 248px;
          text-align: left;
          margin: 10px 2px 8px 2px;
          // https://stackoverflow.com/a/2833092/16328462
          text-indent: -12px;
          padding: 0 20px;
          line-height: 1.25;
        }
      }
    }
  }
}

$animationLength: 500ms;
// Add some delay so there's time to scroll the element into view.
$animationDelay: 250ms;

.flash {
  animation: flash $animationLength ease-out $animationDelay;
}

@keyframes flash {
  0% {
    background-color: none;
  }
  30% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    background-color: none;
  }
}
