.colorKey {
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgba(30,30,30,0.7);
  min-width: 120px;

  .keyToggleContainer {
    width: 100%;
    height: 32px;
    position: relative;

    .keyToggleButton {
      position: absolute;
      right: 0;
      width: 100%;
      background: #151515;
      &:hover{
        background: #222;
      }
      span{
        color:white;
      }
    }
  }

  .keyTable{
    color: white;
    width: 100%;

    tbody:before {
      content: '';
      display: block;
      height: 6px;
    }
    tbody:first-child:before {
      content: '';
      display: block;
      height: 0px;
    }
    th{
      border-spacing: 10px 5px 20px 1px;
      font-variant: small-caps;
      font-size: 1.4em;
      font-weight: 400;
      border-top: 2px solid #333;
      height: 20px;
      padding: 5px;
      padding-bottom: 0px;
      text-align: center;
      vertical-align: bottom;
      &.subheader{
        border: 0;
        background: none;
        font-size: 1.2em;
        height: 18px;
        text-align: left;
        padding-left: 0;
      }
    }
  }
  .colorKeyContainer {
    text-align: right;
    align-content: right;
  }

  .canvases {
    display: inline-block;
  }

  .topo {
    canvas {
      height: 80px;
      width: 25px;
    }
  }
  .plate, .age {
    canvas {
      height: 80px;
      width: 15px;
    }
  }

  .labels {
    display: inline-block;
    vertical-align: top;
  }

  p {
    margin-left: 5px;
  }

  .earthquakeKeyContainer{
    tr{
      height: 20px;
    }
    td{
      text-align: right;
      height: 20px;
      &.magnitudeText{
        text-align: left;
        padding-left: 2px;
      }
      &.earthquakeDepth{
        text-align: right;
      }
    }
    .earthquakeMagnitudeGraphic{
      width:20px;
    }

    .earthquakeColor{
      width: 16px;
      height: 16px;
      padding-top: 2px;
    }
  }

  .volcanoKeyContainer{
    .volcanoMarker{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 20.8px 12px;
      border-color: transparent transparent #ff6600 transparent;
    }
    .volcanoLabel{
      line-height: 2em;
    }
  }
  .crossSectionKeyContainer{
    text-align: right;
    .rect {
      width: 22px;
      height: 20px;
    }
  }
}

@media (max-width: 670px) {
  .colorKey {
    transform-origin: top right;
    transform: scale(0.75, 0.75);
  }
}