.dataCollectionDialogContent {
  width: auto;
  font-size: 16px;

  table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;

    td, th {
      border: 0.5px solid #979797;
      padding: 4px;
      text-align: center;

      &:first-child {
        width: 90px;
      }
      &:last-child {
        font-weight: bold;
      }

      &.temperatureAndPressure {
        max-width: 100px;
      }
    }
  }

  textarea {
    @width: 400px;
    @padding: 8px;
    @borderWidth: 1.5px;
    @textareaWidth: @width - 2 * (@padding + @borderWidth);
    width: @textareaWidth;
    max-width: @textareaWidth;
    min-width: @textareaWidth;
    border-radius: 8px;
    border: solid @borderWidth #dfdfdf;
    font-family: Lato, sans-serif;
    font-size: 16px;
    padding: 8px;
    min-height: 70px;
    max-height: 500px;
    margin-top: 10px;
  }
}
