// General styling of tabs. If it ever gets extracted, these styles should go to common component.
@outlineColor: #797979;
@outlineWithoutBottom: 0 -1px 0 @outlineColor, -1px 0 0 @outlineColor, 1px 0 0 @outlineColor;

.tabs {
  height: 100%;
  margin-left: 1px;
}

.tabList {
  padding-top: 6px;
  border-bottom: none;
  margin: 0;
}

.tab {
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  list-style: none;
  margin-bottom: -1px;
  border-style: solid;
  border-radius: 9px 9px 0 0;
  border-width: 4px;
  border-bottom: none;
  background: white;
  margin-right: 6px;
  //box-shadow: 0 0 0 1px #797979;
  vertical-align: bottom;
  color: #434343;
  padding: 0;
  font-size: 14px;
  box-shadow: @outlineWithoutBottom;

  &:focus {
    outline: none;
  }
}

.tabSelected {
  .tabInsideContainer {
    padding-top: 13px;
    box-shadow: 0 4px 0 white; // "break" of the border of the tab panel
  }
  margin-bottom: -2px; // to match gray outline
}

.tabInsideContainer {
  height: 25px;
  padding: 8px 6px 0 6px;
  svg { // icons
    vertical-align: middle;
    height: 19px;
  }
}

.tabPanel {
  height: calc(100% - 80px);
  background: white;
  border-top: 4px solid red;
  border-left: 4px solid red;
  margin-top: 2px;
  box-shadow: @outlineWithoutBottom;
  padding: 15px 15px;
}

.mapTypeBorder {
  border-color: #32a447;
}

.seismicDataBorder {
  border-color: #50acff;
}

.optionsBorder {
  border-color: #ff9900;
}
