@import "../css/variables.less";

// General styling of tabs. If it ever gets extracted, these styles should go to common component.
@outlineColor: #797979;
@outlineWithoutBottom: 0 -1px 0 @outlineColor, -1px 0 0 @outlineColor, 1px 0 0 @outlineColor;

@tabListMarginTop: 6px;
@tabListHeight: 40px;
@tabPanelTopPadding: 10px;
@tabPanelBottomPadding: 20px; // leave some space for bottom bar "bubbles" that might be overlapping on narrow displays

.sideContainer {
  width: 326px;
  height: calc(100% - @control-panel-height - @topBarHeight);
  vertical-align: top;
  position: absolute;
  top: @topBarHeight;
  right: 0;
  overflow: hidden;

  .tabs {
    height: 100%;
    margin-left: 1px;

    .tabList {
      margin: @tabListMarginTop 0 0 0;
      height: @tabListHeight;
      border-bottom: none;
    }

    .tab {
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
      display: inline-block;
      position: relative;
      list-style: none;
      margin-bottom: -1px;
      border-style: solid;
      border-radius: 9px 9px 0 0;
      border-width: 4px;
      border-bottom: none;
      background: white;
      margin-right: 6px;
      //box-shadow: 0 0 0 1px #797979;
      vertical-align: bottom;
      color: #434343;
      padding: 0;
      font-size: 14px;
      box-shadow: @outlineWithoutBottom;

      &:focus {
        outline: none;
      }
    }

    .disabled {
      opacity: 0.65;
      cursor: default;
    }

    .tabSelected {
      .tabInsideContainer {
        padding-top: 13px;
        box-shadow: 0 4px 0 white; // "break" of the border of the tab panel
      }
      margin-bottom: -2px; // to match gray outline
    }

    .tabInsideContainer {
      height: 25px;
      padding: 8px 6px 0 6px;
      svg { // icons
        vertical-align: middle;
        height: 19px;
      }
    }

    .tabPanel {
      // It looks overcomplicated, but it's important to set perfect height of this container, as it's scrollable.
      height: calc(100% - @tabListHeight - @tabListMarginTop - @tabPanelTopPadding - @tabPanelBottomPadding);
      background: white;
      border-top: 4px solid red;
      border-left: 4px solid red;
      margin-top: 2px;
      box-shadow: @outlineWithoutBottom;
      padding: @tabPanelTopPadding 10px @tabPanelBottomPadding 10px;
      overflow-y: scroll;
    }

    .mapTypeBorder {
      border-color: #32a447;
    }

    .seismicDataBorder {
      border-color: #50acff;
    }

    .optionsBorder {
      border-color: #ff9900;
    }
  }

  .closeIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bolder;
    font-size: 20px;
    color: #a1a1a1;
    &:hover {
      color: #797979;
      cursor: pointer;
    }
    &:active {
      color: #c9c9c9;
      cursor: pointer;
    }
  }
}

.keyToggleButton {
  position: absolute;
  top: @topBarHeight + 10px;
  right: 10px;
  background: white;
  height: 34px;
  display: flex;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.35);
  border: solid 1px #797979;
  padding: 0 5px;

  &:hover {
    background: #98d1a3 !important;

    .keyIconContainer {
      outline: 2px solid rgba(255, 255, 255, 0.5);
    }
  }

  &:active {
    background: #cce8d1 !important;

    .keyIconContainer {
      outline: 2px solid rgba(255, 255, 255, 1.0);
    }
  }

  .keyIconContainer {
    color: #fff;
    background: #32a447;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;

    :global(.material-icons) {
      font-size: 20px;
    }
  }

  .label {
    margin: -2px 0 0 5px;
    color: #434343;
    font-size: 16px;
  }
}
